<section class="accordion hide">
    <input type="checkbox" name="collapse" id="cb-collapse">
    <h2 class="handle">
        <label for="cb-collapse">Please correct errors below</label>
    </h2>
    <div class="content">
    </div>
</section>