<!-- Bootstrap Css -->
<link href="/lib/css/bootstrap/v5.0.2.bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/lib/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<!-- IziToast v1.4.0 Css -->
<link rel="stylesheet" href="/lib/iziToast/iziToast-1.4.0.min.css">
<!-- Sweet Alert 2 Css -->
<link href="/lib/css/sweetalert2.min.css" rel="stylesheet" type="text/css">
<!-- Icons Css -->
<link href="/lib/css/icons.min.css" rel="stylesheet" type="text/css">
<!-- App Css-->
<link href="/lib/css/app.min.css" rel="stylesheet" type="text/css">
<!-- Styles Css-->
<link href="/lib/css/styles.css" rel="stylesheet" type="text/css">
<!-- Upload Image Css-->
<link href="/lib/css/upload-image.css" rel="stylesheet" type="text/css">