<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home Page</title>

    <!-- Meta -->
    <%- include('../layout/head/meta'); %>
    <!-- App-favicon -->
    <%- include('../layout/head/app-favicon'); %>
    <!-- Main -->
    <%- include('../layout/head/main'); %>

</head>

<body data-sidebar="dark">

<!-- Begin page -->
<div id="layout-wrapper">
    <!-- Begin page-topbar -->
    <%- include('../layout/page-topbar'); %>
    <!-- End page-topbar -->

    <!-- Begin vertical-menu -->
    <%- include('../layout/vertical-menu'); %>
    <!-- End vertical-menu -->

    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0 font-size-18">Purchase Order List</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Purchase Order</a></li>
                                    <li class="breadcrumb-item active">List</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-sm-4">
                                        <div class="search-box mr-2 mb-2 d-inline-block">
                                            <div class="position-relative">
                                                <input type="text" class="form-control" placeholder="Search...">
                                                <i class="bx bx-search-alt search-icon"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="text-sm-right">
                                            <button type="button" class="btn btn-success btn-rounded waves-effect waves-light mb-2 mr-2"><i class="mdi mdi-plus mr-1"></i> Add New Order</button>
                                        </div>
                                    </div><!-- end col-->
                                </div>

                                <div class="table-responsive">
                                    <table id="tablePurchaseOrder" class="table table-centered table-nowrap text-center">
                                        <thead class="thead-light">
                                        <tr>
                                            <th style="width: 20px;">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                    <label class="custom-control-label" for="customCheck1">&nbsp;</label>
                                                </div>
                                            </th>
                                            <th>Order ID</th>
                                            <th>Total Amount</th>
                                            <th>Quantity Total</th>
                                            <th>Customer</th>
                                            <th>Status</th>
                                            <th>View Details</th>
                                            <th>State Change</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                                <ul class="pagination pagination-rounded justify-content-end mb-2">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                                            <i class="mdi mdi-chevron-left"></i>
                                        </a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="javascript: void(0);">1</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript: void(0);">2</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript: void(0);">3</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript: void(0);">4</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript: void(0);">5</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript: void(0);" aria-label="Next">
                                            <i class="mdi mdi-chevron-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>

            <!-- container-fluid -->
        </div>
    </div>
    <!-- End Page-content -->
</div>
<!-- END layout-wrapper -->

<!-- Right Sidebar -->
<%- include('../layout/right-bar'); %>
<!-- End right-bar -->

<%- include('../order/modal-details'); %>

<!-- JAVASCRIPT -->
<%- include('../layout/script/javascript'); %>
<!-- App js -->
<%- include('../layout/script/app-js'); %>


<script>
    let page = {
        urls: {
            getAllOrders: App.BASER_URL + "/orders"
        },
        elements: {
        },
        loadData: {},
        commands: {},
        dialogs: {
            elements: {},
            commands: {},
            alertDanger: {}
        },
    }


    page.elements.modalDetail = $('#modalDetail');

    page.elements.tbodOrder = $('#tablePurchaseOrder tbody');

    page.commands.showModalDetails = () => {
        page.elements.btnShowDetail = $('#tablePurchaseOrder tbody tr td .showDetail');
        page.elements.btnShowDetail.on('click',function (){
            let orderId = $(this).data("id");
            console.log(orderId);
            page.elements.modalDetail.modal('show');
        })
    }

    let orders = [];

    page.commands.getAllOrders = () => {
        return $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: page.urls.getAllOrders
        })
            .done((data) => {
                orders = data;
            })
            .fail((jqXHR) => {
                console.log(jqXHR);
            })
    }

    $(() => {
        page.commands.getAllOrders().then(() => {
            $.each(orders, (i, item) => {
                let str = App.renderOrders(item);
                page.elements.tbodOrder.append(str);
            })
            page.commands.showModalDetails();
        })
    })


</script>

</body>
</html>
