<div id="modalDetail" class="modal fade exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Order Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="mb-2">Product id : <span class="text-primary">#SK2540</span></p>
          <p class="mb-4">Title : <span class="text-primary">Dell Inspiron Core i5-1235U/ 8GB DDR4/ 512GB SSD/ GeForce MX550/ Silver/ 14 FHD</span></p>

          <div class="table-responsive">
            <table class="table table-centered mb-0 table-nowrap">
              <thead class="thead-light">
              <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <img src="/lib/images/product/img-1.png" alt="product-img" title="product-img" class="avatar-md">
                </td>
                <td>
                  $ 12.000.000
                </td>
                <td>
                  3
                </td>
                <td>
                  $ 36.0000.000
                </td>
              </tr>
              <tr>
                <td>
                  <img src="/lib/images/product/img-6.png" alt="product-img" title="product-img" class="avatar-md">
                </td>
                <td>
                  $ 12.000.000
                </td>
                <td>
                  3
                </td>
                <td>
                  $ 36.000.000
                </td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <td colspan="1">
                  <h6>Sub Total:</h6>
                </td>
                <td colspan="3">
                  $ 400
                </td>
              </tr>
              <tr>
                <td colspan="1">
                  <h6>Shipping:</h6>
                </td>
                <td colspan="3">
                  Free
                </td>
              </tr>
              <tr>
                <td colspan="1">
                  <h6>Total Amount:</h6>
                </td>
                <td colspan="3">
                  $ 400
                </td>
              </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>