<!DOCTYPE html>
<html lang="en">

<head>
  <title>Create Purchase Order Page</title>

  <!-- Meta -->
  <%- include('../layout/head/meta'); %>
  <!-- App-favicon -->
  <%- include('../layout/head/app-favicon'); %>
  <link rel="stylesheet" href="/lib/css/bootstrap/jquery.bootstrap-touchspin.min.css">
  <!-- Main -->
  <%- include('../layout/head/main'); %>

  <link rel="stylesheet" href="/lib/css/tooltip.css">

</head>

<body data-sidebar="dark">

<!-- Begin page -->
<div id="layout-wrapper">
  <!-- Begin page-topbar -->
  <%- include('../layout/page-topbar'); %>
  <!-- End page-topbar -->

  <!-- Begin vertical-menu -->
  <%- include('../layout/vertical-menu'); %>
  <!-- End vertical-menu -->

  <!-- Left Sidebar End -->

  <!-- ============================================================== -->
  <!-- Start right Content here -->
  <!-- ============================================================== -->
  <div class="main-content">

    <div class="page-content">
      <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
          <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
              <h4 class="mb-0 font-size-18">Create Purchase Order</h4>
              <div class="page-title-right">
                <ol class="breadcrumb m-0">
                  <li class="breadcrumb-item"><a href="javascript: void(0);">Purchase Order</a></li>
                  <li class="breadcrumb-item active">Create</li>
                </ol>
              </div>

            </div>
            <div class="position-relative col-sm-8 mb-3">
              <input type="text" class="form-control" placeholder="Search product...">
            </div>
          </div>
        </div>
        <!-- end page title -->

        <div class="row">
          <div class="col-xl-8">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <p class="mb-2">Order id : <span class="text-primary">#OD2540</span></p>
                  <p class="mb-2">Customer : <span class="text-primary">Trương Văn Phôn</span></p>
                  <p class="mb-4">Create At : <span class="text-primary">02/02/2022</span></p>
                  <table class="table table-centered mb-0 table-nowrap">
                    <thead class="thead-light">
                    <tr>
                      <th>Product</th>
                      <th>Title</th>
                      <th>Price</th>
                      <th>Quantity</th>
                      <th colspan="2">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>
                        <img src="/lib/images/product/img-1.png" alt="product-img" title="product-img" class="avatar-md">
                      </td>
                      <td>
                        <div class="myTooltip">
                          HP Pavilion Intel Core I3-1115G4 ...
                          <span class="myTooltiptext">HP Pavilion Intel Core I3-1115G4/ 8GB/ SSD 256GB/ Intel Iris Xe Graphics/ Silver/ 14.0</span>
                        </div>
                      </td>
                      <td>
                        $ 12.000.000
                      </td>
                      <td>
                        <div style="width: 120px;">
                          <div class="input-group  bootstrap-touchspin bootstrap-touchspin-injected"><input type="text" value="02" name="demo_vertical" class="form-control"><span class="input-group-btn-vertical"><button class="btn btn-primary bootstrap-touchspin-up " type="button">+</button><button class="btn btn-primary bootstrap-touchspin-down " type="button">-</button></span></div>
                        </div>
                      </td>
                      <td>
                        $ 12.000.000
                      </td>
                      <td>
                        <a href="javascript:void(0);" class="action-icon text-danger"> <i class="mdi mdi-trash-can font-size-18"></i></a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <img src="/lib/images/product/img-2.png" alt="product-img" title="product-img" class="avatar-md">
                      </td>
                      <td>
                        <div class="myTooltip">
                          HP Pavilion Intel Core I3-1115G4 ...
                          <span class="myTooltiptext">HP Pavilion Intel Core I3-1115G4/ 8GB/ SSD 256GB/ Intel Iris Xe Graphics/ Silver/ 14.0</span>
                        </div>
                      </td>
                      <td>
                        $ 12.000.000
                      </td>
                      <td>
                        <div style="width: 120px;">
                          <div class="input-group  bootstrap-touchspin bootstrap-touchspin-injected"><input type="text" value="02" name="demo_vertical" class="form-control"><span class="input-group-btn-vertical"><button class="btn btn-primary bootstrap-touchspin-up " type="button">+</button><button class="btn btn-primary bootstrap-touchspin-down " type="button">-</button></span></div>
                        </div>
                      </td>
                      <td>
                        $ 12.000.000
                      </td>
                      <td>
                        <a href="javascript:void(0);" class="action-icon text-danger"> <i class="mdi mdi-trash-can font-size-18"></i></a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="row mt-4">
                  <div class="col-sm-6">
                    <a href="/purchase-orders" class="btn btn-secondary">
                      <i class="mdi mdi-arrow-left mr-1"></i> Back to list </a>
                  </div> <!-- end col -->
                  <div class="col-sm-6">
                    <div class="text-sm-right mt-2 mt-sm-0">
                      <a href="ecommerce-checkout.html" class="btn btn-success">Update</a>
                    </div>
                  </div> <!-- end col -->
                </div> <!-- end row-->
              </div>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-12">
                    <h4 class="card-title mb-3">Delivery Info</h4>
                    <div class="form-group">
                      <label class="control-label">Province</label>
                      <select class="form-control">
                        <option value="CT">Thừa Thiên Huế</option>
                        <option value="DE">Hà Nội</option>
                        <option value="FL">Hồ Chí Minh</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label class="control-label">District</label>
                      <select class="form-control">
                        <option value="CT">Huyện Phú Vang</option>
                        <option value="DE">Huyện Phú Lộc</option>
                        <option value="FL">Huyện Phong Điền</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Ward</label>
                      <select class="form-control">
                        <option value="CT">Xã Phú Diên</option>
                        <option value="DE">Xã Vinh Xuân</option>
                        <option value="FL">Xã Vinh Thanh</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Delivery Date</label>
                      <input class="form-control" type="date" value="2019-08-19" id="example-date-input">
                    </div>
                  </div>
                </div>


                <!-- end table-responsive -->
              </div>
            </div>

            <div class="card">
              <div class="card-body">
                <h4 class="card-title mb-3">Order Summary</h4>

                <div class="table-responsive">
                  <table class="table mb-0">
                    <tbody>
                    <tr>
                      <td>Total Amount :</td>
                      <td>$ 50.000.000</td>
                    </tr>
                    <tr>
                      <td>Quantity Total : </td>
                      <td>5</td>
                    </tr>
                    <tr>
                      <td>Shipping Charge :</td>
                      <td>$ 0</td>
                    </tr>
                    <tr>
                      <th>Total :</th>
                      <th>$ 50.000.000</th>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <!-- end table-responsive -->
              </div>
            </div>
            <!-- end card -->
          </div>
        </div>
        <!-- end row -->
      </div>
      <!-- container-fluid -->
    </div>
  </div>
  <!-- End Page-content -->
</div>
<!-- END layout-wrapper -->

<!-- Right Sidebar -->
<%- include('../layout/right-bar'); %>
<!-- End right-bar -->

<!-- JAVASCRIPT -->
<%- include('../layout/script/javascript'); %>
<!-- App js -->
<%- include('../layout/script/app-js'); %>
</body>

</html>