<div class="vertical-menu">

    <div data-simplebar="" class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Home</li>

                <li>
                    <a href="/homepage" class="waves-effect">
                        <i class="bx bx-home-circle"></i><span class="badge badge-pill badge-info float-right">03</span>
                        <span>Home</span>
                    </a>
                </li>

                <li class="menu-title">Menu</li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-user-circle"></i>
                        <span>User</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/users/create">Create</a></li>
                        <li><a href="/users">List</a></li>
                    </ul>
                </li>


                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-briefcase-alt-2"></i>
                        <span>Product</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/products/create">Create</a></li>
                        <li><a href="/products">List</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-list-ul"></i>
                        <span>Blog</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/blogs/create">Create</a></li>
                        <li><a href="/blogs">List</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-task"></i>
                        <span>Purchase order</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/purchase-orders/create">Create</a></li>
                        <li><a href="/purchase-orders">List</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-receipt"></i>
                        <span>Order</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/orders/create">Create</a></li>
                        <li><a href="/orders">List</a></li>
                    </ul>
                </li>

                <li class="menu-title">Stock</li>
                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="bx bx-store"></i><span class="badge badge-pill badge-info float-right">03</span>
                        <span>Stock</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/inventories/overview">Overview</a></li>
                        <li><a href="/inventories/details">Detais</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>