<script src="/lib/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/lib/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="/lib/libs/jszip/jszip.min.js"></script>
<script src="/lib/libs/pdfmake/build/pdfmake.min.js"></script>
<script src="/lib/libs/pdfmake/build/vfs_fonts.js"></script>
<script src="/lib/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/lib/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="/lib/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>