<script src="/lib/libs/jquery/jquery.min.js"></script>
<!--    <script src="/lib/js/jquery-3.6.0.min.js"></script>-->
<script src="/lib/js/bootstrap/v5.0.2.bootstrap.bundle.min.js"></script>
<script src="/lib/js/sweetalert2.min.js"></script>
<script type="text/javascript" src="/lib/iziToast/iziToast-1.4.0.js"></script>
<script src="/lib/js/jquery.validate-1.19.3.min.js"></script>
<script src="/lib/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/lib/libs/metismenu/metisMenu.min.js"></script>
<script src="/lib/libs/simplebar/simplebar.min.js"></script>
<!--    <script src="/lib/js/custom-validation.js"></script>-->
<script src="/lib/libs/node-waves/waves.min.js"></script>