

<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Purchase Order List Page</title>

        <!-- Meta -->
        <%- include('../layout/head/meta'); %>
        <!-- App-favicon -->
        <%- include('../layout/head/app-favicon'); %>
        <!-- Main -->
        <%- include('../layout/head/main'); %>

    </head>

    <body data-sidebar="dark">

        <!-- Begin page -->
        <div id="layout-wrapper">
             <!-- Begin page-topbar -->
             <%- include('../layout/page-topbar'); %>
             <!-- End page-topbar -->
 
             <!-- Begin vertical-menu -->
             <%- include('../layout/vertical-menu'); %>
             <!-- End vertical-menu -->

            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-flex align-items-center justify-content-between">
                                    <h4 class="mb-0 font-size-18">Purchase Order List</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Purchase Order</a></li>
                                            <li class="breadcrumb-item active">List</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row mb-2">
                                            <div class="col-sm-4">
                                                <div class="search-box mr-2 mb-2 d-inline-block">
                                                    <div class="position-relative">
                                                        <input type="text" class="form-control" placeholder="Search...">
                                                        <i class="bx bx-search-alt search-icon"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="text-sm-right">
                                                    <button type="button" class="btn btn-success btn-rounded waves-effect waves-light mb-2 mr-2"><i class="mdi mdi-plus mr-1"></i> Add New Order</button>
                                                </div>
                                            </div><!-- end col-->
                                        </div>

                                        <div class="table-responsive">
                                            <table id="tbsPurchaseOrders" class="table table-centered table-nowrap">
                                                <thead class="thead-light">
                                                <tr>
                                                    <th>#</th>
                                                    <th>Ngày Nhập kho</th>
                                                    <th>Nhà Cung Cấp</th>
                                                    <th>Số lượng</th>
                                                    <th>Thành tiền</th>
                                                    <th>Mã Nhân Viên</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td><a href="javascript: void(0);" class="text-body font-weight-bold">#SK2540</a> </td>
                                                    <td>Neal Matthews</td>
                                                    <td>
                                                        07 Oct, 2019
                                                    </td>
                                                    <td>
                                                        $400
                                                    </td>
                                                    <td>
                                                        <span class="badge badge-pill badge-soft-success font-size-12">Paid</span>
                                                    </td>
                                                    <td>
                                                        <i class="fab fa-cc-mastercard mr-1"></i> Mastercard
                                                    </td>
                                                    <td>
                                                        <!-- Button trigger modal -->
                                                        <button type="button" class="btn btn-primary btn-sm btn-rounded" data-toggle="modal" data-target=".exampleModal">
                                                            View Details
                                                        </button>
                                                    </td>
                                                    <td>
                                                        <a href="javascript:void(0);" class="mr-3 text-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="mdi mdi-pencil font-size-18"></i></a>
                                                        <a href="javascript:void(0);" class="text-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="mdi mdi-close font-size-18"></i></a>
                                                    </td>
                                                </tr>


                                                </tbody>
                                            </table>
                                        </div>
                                        <ul class="pagination pagination-rounded justify-content-end mb-2">
                                            <li class="page-item disabled">
                                                <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                                                    <i class="mdi mdi-chevron-left"></i>
                                                </a>
                                            </li>
                                            <li class="page-item active"><a class="page-link" href="javascript: void(0);">1</a></li>
                                            <li class="page-item"><a class="page-link" href="javascript: void(0);">2</a></li>
                                            <li class="page-item"><a class="page-link" href="javascript: void(0);">3</a></li>
                                            <li class="page-item"><a class="page-link" href="javascript: void(0);">4</a></li>
                                            <li class="page-item"><a class="page-link" href="javascript: void(0);">5</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="javascript: void(0);" aria-label="Next">
                                                    <i class="mdi mdi-chevron-right"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- container-fluid -->
                </div>
            </div>
            <!-- End Page-content -->

            <!-- Modal -->
            <div id="modalPurchaseOrderDetail" class="modal" tabindex="-1">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Chi Tiết Phiếu Nhập</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p class="mb-2">Ngày nhập kho: <span id="stockInDate" class="text-primary"></span></p>
                            <div class="table-responsive">
                                <table id="tbsProductDetail" class="table table-centered table-nowrap">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Sản phẩm</th>
                                            <th scope="col">Giá Nhập</th>
                                            <th scope="col">Số Lượng</th>
                                            <th scope="col">Thành tiền</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                    <tfoot>

                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END layout-wrapper -->

       <!-- Right Sidebar -->
       <%- include('../layout/right-bar'); %>
       <!-- End right-bar -->

       <!-- JAVASCRIPT -->
       <%- include('../layout/script/javascript'); %>
       <!-- App js -->
       <%- include('../layout/script/app-js'); %>

        <script>
            let page = {
                urls: {
                    getAllPurchaseOrders: App.BASER_URL + "/purchaseOrders",
                    getPurchaseOrderDetail: App.BASER_URL + "/purchaseOrders/details/",
                },
                elements: {
                },
                loadData: {},
                commands: {},
                dialogs: {
                    elements: {},
                    commands: {},
                    alertDanger: {}
                },
            }

            let purchaseOrderList = []
            page.commands.getAllPurchaseOrders = () => {
                return $.ajax({
                    headers: {
                        "accept": "application/json",
                        "content-type": "application/json"
                    },
                    type: "GET",
                    url: page.urls.getAllPurchaseOrders,
                })
                    .done((data) => {
                        purchaseOrderList = data;
                    })
                    .fail((jqXHR) => {

                    });
            }


            // $('#keySearch').on('input', () => {
            //     keySearch = $('#keySearch').val().toLowerCase();
            //     inventorySearchDetails = inventoryDetails.filter(inventoryDetail => inventoryDetail.title.toLowerCase().includes(keySearch));
            //     if (keySearch) {
            //         page.commands.renderDetails(inventorySearchDetails);
            //     }
            // })

            page.commands.handleShowPurchaseOrderDetail = () => {
                $('button.viewProductDetail').on('click', function () {
                    let productId = $(this).attr("id");
                    $.ajax({
                        headers: {
                            "accept": "application/json",
                            "content-type": "application/json"
                        },
                        type: "GET",
                        url: page.urls.getProductDetail + productId
                    })
                        .done((data) => {
                            $('#modalProductDetail').modal('show');
                            $('#productDetailTitle').text(data[0].title);
                            let tbsBody = $('#tbsProductDetail tbody');
                            tbsBody.html('')
                            let tbsFoot = $('#tbsProductDetail tfoot');
                            tbsFoot.html('');
                            let groupQuantity = 0;
                            let groupAmount = 0;
                            let groupPercent = 0;
                            $.each(data, (index, value) => {
                                let str = `
                                    <tr>
                                        <td>
                                            <a href="javascript: void(0);" class="text-body font-weight-bold">${index + 1}</a>
                                        </td>
                                        <td>${value.stockInDate}</td>
                                        <td>${value.stockInPrice}</td>
                                        <td>${value.quantity}</td>
                                        <td>${value.stockInPrice * value.quantity}</td>
                                        <td>${value.stockInPrice * value.quantity / totalAmount}</td>
                                    </tr>
                                `;
                                tbsBody.append(str);

                                groupQuantity += value.quantity;
                                groupAmount += value.stockInPrice * value.quantity;
                                groupPercent += value.stockInPrice * value.quantity / totalAmount;
                            })
                            let footStr = `
                                <td colSpan="3">TỔNG</td>
                                <td>${groupQuantity}</td>
                                <td>${groupAmount}</td>
                                <td>${groupPercent}</td>
                            `;
                            tbsFoot.append(footStr);

                        })
                        .fail((jqXHR) => {
                            // App.SweetAlert.showErrorAlert(jqXHR.responseJSON.message);
                            // console.log(jqXHR);
                        })


                });
            }

            page.commands.renderPurchaseOrders = (purchaseOrders) => {
                let tbsBody = $('#tbsPurchaseOrders tbody');
                tbsBody.html("");

                $.each(purchaseOrders, (index, value) => {
                    let str = `
                            <tr>
                                <td>
                                    <a href="javascript: void(0);" class="text-body font-weight-bold">${index + 1}</a>
                                </td>
                                <td>${value.stockInDate}</td>
                                <td>${value.supplierName}</td>
                                <td>${value.quantity}</td>
                                <td>${value.amount}</td>
                                <td>${value.employeeCode}</td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm btn-rounded viewProductDetail" id="${value.purchaseOrderId}" data-toggle="modal" data-target=".exampleModal">
                                        Xem
                                    </button>
                                </td>
                            </tr>
                        `;
                    tbsBody.append(str);
                })
                // handleShowProductDetail();
            }

            $(() => {
                page.commands.getAllPurchaseOrders().then(() => {
                    page.commands.renderPurchaseOrders(purchaseOrderList);
                });
            })
        </script>
    </body>
</html>